*{
    margin: 0; padding: 0;
}

:root {
    --primary-color: #1e1e1e;
    --secondary-color: #2d2d2d;
    --text-color: #e6e6e6;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background: var(--primary-color);
}

h1{
    margin: 20px 0 30px 20px;

    color: #88d9d0;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 75px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

.wrapper{
    color: var(--text-color);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(40px, auto);
    justify-content: center;
    padding: 10px;
}

.header{
    grid-column: 1/2;
    grid-row: 1/2;
    background: var(--secondary-color);
    padding: 10px;
    margin: 10px;
}

.cards-container{
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 10px;
    margin: 10px;
}

.footer{

    background: var(--secondary-color);
    padding: 10px;
    margin: 10px;
}


.footer{
    grid-column: 1/2;
    grid-row: 3/4;

    background: var(--secondary-color);
    padding:10px 0 10px 0;
    margin-bottom: 20px;
    vertical-align: center;
}

.footer p{
    text-align:center;
    font-size:14px;
    font-family: Georgia, serif;
    font-weight: 300;
}


.title{
    width: fit-content;
}

#cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    width: 490px;
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-areas: "today today today today temp1 temp1 temp1 temp1"
                         "temp2 temp3 temp4 temp5 temp6 temp7 temp8 temp9";

    grid-gap: 5px;
    border-radius: 15px;
    background: var(--secondary-color);
    padding: 10px;
    margin: 10px;
}

.sec{
    padding: 5px 5px 50px 5px;
}

.sec1{
    grid-area: today;
    color: #89d1dc;
    font-family: "Great Vibes",
    cursive;
    font-size: 65px;
    line-height: 50px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 10px;
    text-align: center;
    text-shadow: 0 1px 1px #aff28b;
}

.secDescription{
    grid-area: temp1;
    margin: auto;
    font-size: 45px;
}

.sec2{
    grid-area: temp2;
}

.sec3{
    grid-area: temp3;
}

.sec4{
    grid-area: temp4;
}

.sec5{
    grid-area: temp5;
}

.sec6{
    grid-area: temp6;
}

.sec7{
    grid-area: temp7;
}

.sec8{
    grid-area: temp8;
}

.sec9{
    grid-area: temp9;
}
